body
{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11pt;
  line-height: 1.25em;
  background-color: #000;
}

.view
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: opacity 1s ease-in-out;
  opacity: 0;
}

.navbar
{
  position: absolute;
  top: 0;
  height: 44px;
  left: 0;
  right: 0;
  width: 100%;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;
  background-color: #000;
  box-shadow: 0px 22px 0px rgba(255,255,255,0.125) inset, 0px -1px 0px rgba(255,255,255,0.0625) inset, 0px 0px 5px #000;
  text-align: center;
  font-size: 20pt;
  line-height:44px;
  z-index:1;
  
}

#mainView_sky
{
  background-color: #002;
  position: absolute;
  top:0;
  height:50%;
  left:0;
  right:0;
  width: 100%;
}

#mainView_ground
{
  background-color: #021;
  position: absolute;
  top:50%;
  height:50%;
  left:0;
  right:0;
  width:100%;
}

#mainView_sun,
#mainView_moon
{
  position: absolute;
  border: 0;
  background-color: #FF0;
  width:20%;
  height:15%;
  left:40%;
  top:50%;
  display: none;
}

#mainView_moon
{
  background-color: #FFF;
}

.landscape #mainView_sun,
.landscape #mainView_moon
{
  width:15%;
  height:20%;
  left: 43.5%;
}

#mainView_touch2start
{
  position: absolute;
  left: 20%;
  right: 20%;
  top: 45%;
  bottom: 45%;
  height: 10%;
  width: 60%;
  color: #FFF;
  text-shadow: 0px 1px 0px #000;
  font-size: 14pt;
  -webkit-appearance: none;
  border:0;
  background-color: transparent;
  -webkit-transition: opacity 250ms ease-in-out;
  opacity: 1;
}

#mainView_clock
{
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 5em;
  height: 2em;
  line-height: 3.5em;
  font-size: 36pt;
  font-family: Courier New, mono;
  color: #8F8;
  text-shadow: 1px 2px 1px #000;
  text-align: right;
  font-weight: bold;
}
