<div class="view" id="mainView_html">
 <div class="navbar" id="mainView_navBar">
  MCRooster
  <button id="mainView_start" style="left:10px">Start</button>
  <button id="mainView_reset" style="right:10px">Reset</button>
 </div>
 <div class="content">
  <div id="mainView_sky"></div>
  <div id="mainView_sun"></div>
  <div id="mainView_moon"></div>
  <div id="mainView_ground"></div>
  <span id="mainView_clock">05:59</span>
  <button id="mainView_touch2start">Tap me when dawn arrives...</button>
 </div>
</div>